.body {
  width: 1200px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  margin-top: 80px;
}
.logo {
  width: 207px;
  height: 24px;
}
.logoImg {
  width: 207px;
  height: 24px;
}
.navlink {
  margin-left: 522px;
  display: flex;
}
.navlinkItem {
  margin-left: 64px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #404040;
  opacity: 0.7;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
