.wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  margin-bottom: 130px;
}
.logoText {
  padding-top: 29px;
  font-family: "Inter";
  font-style: light;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #404040;
  opacity: 0.7;
}
.logoimg {
  opacity: 0.7;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.firstcol {
  margin-left: 128px;
}
.secondcol {
  margin-left: 133px;
}
.colHead {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #242424;
  margin-bottom: 31px;
}
.colitem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: #404040;
  opacity: 0.7;
  margin-bottom: 24px;
  cursor: pointer;
  display: flex;
  &:hover{
    opacity: 1;
  }
}
.colitemText{
    padding-left: 17px;
}
@media (max-width: 632px) {
  .wrapper {
    width: auto;
    margin: 0 20px;
    margin-top: 40px;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .logoText {
    padding-top: 10px;
    font-family: "Inter";
    font-style: light;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    text-align: left;
    color: #404040;
    opacity: 0.7;
  }
  .logoimg {
    opacity: 1;
    cursor: pointer;
    width: 137px;
    height: 16px;
  }
  .firstcol {
    margin-left: 0px;
  }
  .secondcol {
    margin-left: 0px;
  }
  .colHead {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #242424;
    margin-bottom: 24px;
    margin-top: 40px;
  }
  .colitem {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #404040;
    opacity: 1;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    &:hover{
      opacity: 1;
    }
  }
  .colitemText{
      padding-left: 17px;
  }
}