.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.divider {
  opacity: 0.3;
  height: 1px;
  background-color: #404040;
  margin-top: 40px;
}
.body {
  padding: 40px 0;
  display: flex;
  opacity: 0.57;
  &:hover {
    opacity: 1;
  }
}
.imgBlock {
}
.header {
  display: flex;
  width: 251px;
  margin: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  margin-left: 126px;
  color: #242424;
}
.text {
  width: 407px;
  margin: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: #404040;
  margin-left: 158px;
}
@media (max-width: 632px) {
  .wrapper {
    width: auto;
    margin: 0;
  }
  .divider {
    opacity: 0.3;
    height: 1px;
    background-color: #404040;
    margin-top: 30px;
  }
  .body {
    padding: 30px 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    opacity: 1;
    &:hover {
      opacity: 1;
    }
  }
  .img {
    width: 100%;
  }
  .header {
    display: flex;
    width: auto;
    margin: auto;
    margin-top: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-right: 60px;
    line-height: 120%;
    margin-left: 0px;
    color: #242424;
  }
  .text {
    width: auto;
    margin: auto;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    color: #404040;
    margin-left: 0px;
    margin-top: 10px;
  }
}
