.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.divider {
  opacity: 0.3;
  border: 1px solid #404040;
  margin-top: 40px;
}
.body {
  padding: 40px 0;
  display: flex;
  opacity: 0.57;
  &:hover{
    opacity: 1;
  }
}
.imgBlock {
}
.header {
  display: flex;
  width: 251px;
  margin: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  margin-left:126px;
  color: #242424;
}
.text {
  width: 407px;
  margin: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #404040;
  margin-left:158px;
}
