.wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 150px;
}
.header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 115%;
  color: #242424;
  margin-bottom: 50px;
}
