.wrapper {
  background: #242424;
  margin-top: 150px;
  height: 672px;
}
.body {
  width: 1200px;
  margin: 0 auto;
  padding-top: 130px;
  color: #fcfcfc;
  display: flex;
}
.aboutMeBlock {
  margin-left: 73px;
}
.aboutMeBlockTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #fcfcfc;
  opacity: 0.7;
}
.aboutMeBlockHead {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 115%;
  color: #fcfcfc;
  margin-top: 50px;
}
.link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 115%;
  color: #fcfcfc;
  margin-top: 50px;
  text-decoration: underline;
  text-decoration-style: 1px #FCFCFC;
  text-underline-offset: 16px;
  text-decoration-color: #FCFCFC;
  text-decoration-thickness: 1px;
  &:hover {
    color: #52aeff;
    text-decoration: none;
  }
}
.aboutMeBlockText {
  width: 668px;
  padding-top: 29px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #fcfcfc;
  opacity: 0.7;
}
.aboutMeBlockEmail{
    display: block;
    margin-top: 160px;
    width: 332px;
    height: 58px;
    border: 1px solid #FCFCFC;
}