.wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  height: 467px;
  background-image: url("./bg.png");
  background-position: right;
  background-repeat: no-repeat;
}
.h1 {
  margin-left: 209px;
  padding-top: 71px;
}
.name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #242424;
}
.job {
  margin-top: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: #404040;
  opacity: 0.7;
}
.about {
  margin-top: 51px;
  display: flex;
}
.aboutWork {
  margin-left: 116px;
  width: 180px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: #404040;
  opacity: 0.7;
}
.link {
  display: flex;
  opacity: 0.7;
  margin-left: 589px;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.linkText {
  margin: auto 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 120%;
  color: #404040;
}
.linkSvg {
  padding-left: 12px;
}
.contentBannerText {
  display: none;
}
.linkMob{
  display: none;
}
@media (max-width: 632px) {
  .wrapper {
    width: auto;
    margin: 0 20px;
    margin-top: 44px;
    height: auto;
    background-image: url("./bgMob.png");
    background-position: left 119px top;
    background-repeat: no-repeat;
  }
  .h1 {
    margin-left: 0px;
    padding-top: 20px;
  }
  .contentImg {
    display: none;
  }
  .contentBannerText {
    display: block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #242424;
  }
  .name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #242424;
  }
  .job {
    margin-top: 4px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: #404040;
    opacity: 0.7;
  }
  .about {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .aboutWork {
    margin-top: 30px;
    margin-left: 0px;
    width: auto;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: #404040;
    opacity: 1;
    display: flex;
  }
  .link {
    display: none;
  }
  .linkText {
    margin: auto 0;
    padding-top: 6px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    opacity: 1;
    color: #404040;
  }
  .linkTextAbout{
    margin-left: 48px;
    width: 165px;
    opacity: 0.7;
  }
  .linkSvg {
    padding-left: 18.5;
  }
  .linkMob{
    display: block;
    opacity: 1;
  }
}
